/*Bootstrap overrides*/

.nav {
	padding-left: 50px;
}

.nav-tabs li a{
	color: white;
	border: none;
}

.nav-tabs li a:hover {
	color: white;
/*	background: rgb(255,203,5);*/
	border: none;
	border-bottom: 5px solid white;
	padding-bottom: 5px;
}

.nav-tabs li a:visited {
	background: rgb(72,73,95);
	border-bottom: 5px solid white;
	padding-bottom: 5px;

}

.nav-tabs {
	background-color: rgb(72,73,95);

}

.sitename {
	margin-top: 10px;
	margin-right: 50px;
	color: white;
	font-weight: bold;
}
