/*Bootstrap overrides*/
/*font-family: 'Roboto Slab', serif;

.navoverride {
	min-width: 520px;
	margin: 0 auto;
	list-style-type: none;
	padding: 0;
	line-height: 23px;
}

.nav-tabs li a{
	color: white;
	border: none;
}

.nav-tabs li a:hover {
	color: white;
/*	background: rgb(255,203,5);*/
/*	border: none;
	border-bottom: 5px solid white;
	padding-bottom: 5px;
}

.nav-tabs li a:visited {
	background: rgb(72,73,95);
	border-bottom: 5px solid white;
	padding-bottom: 5px;
}

.nav-tabs {
	background-color: rgb(72,73,95);
}

.sitename {
	margin-top: 10px;
	/*margin-right: 50px;*/
/*()	color: white;
	font-weight: bold;
}
*/

.navigation-bar ul   {
	padding: 0px;
	margin: 0px;
  text-align: center;
}

.navigation-bar li {
  display:inline;
}
.navigation-bar li a:hover {
  border-bottom: 5px solid white;
	padding-bottom: 2px;
}

.navigation-bar li a    {
	color: white;
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	margin-right: 16px;
}

.navigation-bar {
  background-color: #2572B4;
  height: 25px;
  padding-top: 5px;
}

.sitename {
	font-family: Helvetica ,Arial, sans-serif;
	color: white;
	font-weight: bold;
  text-decoration: none;
	margin-right: 16px;
}
